html { 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding: 10px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
p { padding-top: 10px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

section { padding-top: 20px; }

article { padding-bottom: 20px; }
article h1 { font-size: 1.2rem; }
article h2 { font-size: 0.8rem; padding-top: 3px; }
article h3 { font-size: 0.7rem; padding-top: 3px; color: #ccc; }
article p { padding-top: 5px; }

nav { font-size: 1.5em; padding-bottom: 20px; }