/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* logbook styles */

html { 
    font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
    font-weight: 300;
    padding: 10px;
    padding-left: 25%;
    padding-right: 25%;
}

@media screen and (max-width: 780px) {
    html  { padding-left: 15px; }
    input { margin-bottom: 7px; }
    label { margin-bottom: 2px; }
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; color: #777; padding-bottom: 3px;}
p { line-height: 1.2rem; padding-bottom: 10px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

nav { font-size: 1.3rem; padding-bottom: 20px; }
nav .actions { display: inline; float: right; padding: 0; margin: 0; vertical-align: top; }
a.siteUrl { font-size: 1.3rem; padding-right: 50px; }

@media screen and (max-width: 780px) {
    nav .actions { display: inline; float: right; padding-top: 4px; }
    a.siteUrl { font-size: 1.3em; padding-right: 3px; }
}

section { padding-top: 20px; }

article { padding-bottom: 30px; }
article h1 { font-size: 1.25rem; }
article h2 { font-size: 0.8rem; padding-top: 3px; }
article h2 a { color: #777; padding-right: 2px; }
article h3 { font-size: 0.7rem; padding-top: 4px; color: #ccc; }
article p { padding-top: 5px; padding-bottom: 5px; }
/* Don't add padding after the last p in logbook entry. */
article p:last-of-type { padding-bottom: 0; }
.private { font-style: italic; }

#pagination a { padding-right: 20px; }

#tagInfo p { padding-top: 3px; }
#tagInfo a { font-size: 0.75rem; color: #777; padding-left: 3px;}

#login input { display: block; margin-bottom: 5px; }
#logoutForm { display: inline; padding: 0; margin: 0; }
#logoutForm input { 
	background: none; 
	border: 0; 
	cursor: pointer; 
	color: #0000ee; 
        font-size: 1.3rem;
	font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
    	font-weight: 300;
	padding: 0;
	margin: 0;
}
#logoutForm input:hover { text-decoration: underline;  }

.entryForm { padding-top: 30px; }
.entryForm label { display: inline-block; width: 75px; vertical-align: top;}
.entryForm input, textarea { width: 300px; }
.entryForm textarea { height: 150px; }
.entryForm input[type=submit] { width: 100px; margin-top: 20px; margin-left: 150px; }

.error { color: #dd5555; padding-bottom: 20px; }
