{% extends "layout.html" %}

{% block content %}
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form id="login" method="post" action="/login">
<input type="hidden" name="csrf" value="{{ csrf }}" />

<input type="text" id="username" name="username" placeholder="Username" value="{{ username }}" />
<input type="password" id="password" name="password" placeholder="Password" value="{{ password }}" />
<input type="submit" value="Login" />

</form>

<script>
    window.onload = function() {
        document.getElementById("username").focus();
    }
</script>
{% endblock %}