{% extends "layout.html" %}

{% block content %}
<div id="tagInfo">
    <h2>{{ username }}'s Logbook</h2>
    {% if tag %}
    <p>Tag: {{ tag }} <a href="/users/{{ username }}/logbook">remove</a></p>
    {% endif %}
</div>

<section>
{% for entry in logbook %}
    <article>
        <h1><a href="{{ entry.URL }}">{{entry.Title}}</a></h1>
        {{ entry.Notes|markdown }}
        <h2>
            {% for tag in entry.Tags %}
            <a href="/users/{{ username }}/logbook?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        {{ entry.Tags }}
        </h2>

        <h3>{{ entry.CreatedAt|timesince }}</h3>
    </article>
{% endfor %}
</section>

<div id="pagination">
{% if paginator.page == 2 %}
<a href="/users/{{ username }}/logbook{% if tag %}?tag={{ tag }}{% endif %}">Prev</a>
{% elif paginator.page > 1 %}
<a href="/users/{{ username }}/logbook?{% if tag %}tag={{ tag }}&{% endif %}page={{ paginator.prevPage }}">Prev</a>
{% endif %}
{% if logbook|length == paginator.entriesPerPage  %}
<a href="/users/{{ username }}/logbook?{% if tag %}tag={{ tag }}&{% endif %}page={{ paginator.nextPage }}">Next</a>
{% endif %}
</div>
{% endblock %}
